body{
    height: 100vh;
    background : linear-gradient(rgb(43, 2, 43),rgb(86, 3, 16),rgb(30, 30, 110));
    display: flex;
    justify-content: center;
    align-items: center;
    }
.container{
    margin: auto;
    width: 100hv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    height: 100hv;
    backdrop-filter: blur(10px);
    background: rgb(170, 149, 153,0.2);
    box-shadow: 0 0 10px rgb(35, 3, 65);
    border-radius: 10px;
    padding: 30px;
    animation: neonGlow 1s infinite alternate;
}

@keyframes neonGlow{
    from
    {
        box-shadow: 0 0 10px rgba(2, 2, 241, 0.2);
    }
    to{
        box-shadow:  0 0 20px rgb(247, 15, 196),
        0 0 30px rgb(210, 13, 59),
        0 0 40px rgb(34, 215, 17);
    }
}

.heading{
    font-size: 25px;
    color: white;
    text-align: center;
}
#userInp{
    height: 200px;
    font-size: 20px;
    color:solid black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    resize: none;
}

#search{
    background-color: rgb(34, 215, 17);
    border: 1px;
    width: 20em;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    &:active{
        opacity: 0.8;
    }
    cursor: pointer;
}

#result{
    font-size: 20px;
    margin-top: 20px;
    color:azure ;
    font-weight: bold;
    
}